.App {
  text-align: center;
  * {
    box-sizing: border-box;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




// Sortable table
.table {
  display: block;
  max-width: 1200px;
  margin: 50px auto 200px;

  &__content {
    display: block;
    width: 100%;
  }

  &__filters {
    display: block;
    width: 100%;
  }

  &__rows {
    display: block;
    width: 100%;
  }


}

// filters-list 

.filters-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  border: 1px solid black;

  &__item {
    display: block;
    width: 33.3%;
    border-right: 1px solid black;
  }

  &__item:last-child {
    border-width: 0;
  }

}

// table-rows-titles

.table-rows-titles {
  display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid black;
    border-bottom: 0px solid black;

  $title-item: '.table-rows-titles__item';  

  #{$title-item} {
    display: block;
    position: relative;
    width: 20%;
    padding: 10px 25px 10px 10px;
    text-align: center;
    border-right: 1px solid black;
    background: gray;
    color: white;
    cursor: pointer;
    &-btn {
      display: none;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid white;      
      position: absolute;
      right: 10px;
      top: calc(50% - 5px);
    }
  }
  #{$title-item}:last-child {
    border-width: 0;
  }
  #{$title-item}#{$title-item}_active {
    background: black;
    color: white;
    #{$title-item}-btn {
      display: block;   
    }
  }
  #{$title-item}#{$title-item}_desc {
    #{$title-item}-btn {
      transform: rotate(180deg);   
    }
  }
  
}

// table-rows-list

.table-rows-list {
  &__item {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px solid black;
    border-bottom: 0px solid black;
  }
  &__item:last-child {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    border-width: 1px;
  }
  
  &__item-cell {
    display: block;
    width: 20%;
    padding: 10px;
    text-align: center;
    border-right: 1px solid black;
  }
  &__item-cell:last-child {
    border-width: 0;
  }
}


